# Ranking offensive output of NBA guards
## Offensive Data
### Members:
Tejus Janakiraman (tejusj)
<br>
Zubin Joseph (zoobi)
<br>
Pranav SImha (nav01)
<br>
Davin Stephens (davincs)
<br>
Logan Ruscheinski (lruscheinski)

# Initial Description: 
Our intial goal is to quantify offensive impact of NBA guards and rank them based on a developed metric. We want to ensure the data is properly cleaned before we attempt to work on the data and answer our potential questions. 

# Potential Questions: 
Who is the NBA guard with the highest offensive output of all time? 
<br>
What is the best box statistic (basic stat ie. Points, rebounds, assists) to predict offensive output?
<br>
What actual metrics actually compares offensive output?
<br>
Should we consider the time spent as an NBA player for our ranking?

# Potential References 

These two sources will hopefully help us assess different strengths and weaknesses of various NBA guards. We will use this data to answer the potential questions and may help us think of new questions and relationships to consider. Basketball-reference contains a database of stats of every single player which allows us to see any trends over several years.

https://www.basketball-reference.com/
<br>
https://stathead.com/basketball/
<br>
https://www.kaggle.com/datasets/drgilermo/nba-players-stats?select=Seasons_Stats.csv

**Data:** This dataset gives us a variety of information regarding different mens NBA players. According to the source of the data set, the data spans from 1950 to 2017. Some key information in the data set includes: the year, name of the player, the player's position, their total points, and their different shooting percentages (2 point, 3 point, free throw). First, we have to read in the csv file, and print it to verify that the read was successful.

In [1]:
import pandas as pd
csv = pd.read_csv('Seasons_Stats.csv')
csv

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

As an initial step of the data cleaning process, let's take a look at the different data types present in the data frame

In [2]:
csv.dtypes

Unnamed: 0      int64
Year          float64
Player         object
Pos            object
Age           float64
Tm             object
G             float64
GS            float64
MP            float64
PER           float64
TS%           float64
3PAr          float64
FTr           float64
ORB%          float64
DRB%          float64
TRB%          float64
AST%          float64
STL%          float64
BLK%          float64
TOV%          float64
USG%          float64
blanl         float64
OWS           float64
DWS           float64
WS            float64
WS/48         float64
blank2        float64
OBPM          float64
DBPM          float64
BPM           float64
VORP          float64
FG            float64
FGA           float64
FG%           float64
3P            float64
3PA           float64
3P%           float64
2P            float64
2PA           float64
2P%           float64
eFG%          float64
FT            float64
FTA           float64
FT%           float64
ORB           float64
DRB           float64
TRB           float64
AST           float64
STL           float64
BLK           float64
TOV           float64
PF            float64
PTS           float64
dtype: object

For the purpose of our research questions,and to narrow down the amount of players, we decided that we want to only focus on the data in the 3 point era. The 3 point line was established in 1980, so we want to eliminate any players in the data set that played before 1980.

In [3]:
csv = csv[~pd.isna(csv['3P'])]
csv['3P'].iloc[:20]

5727     0.0
5728     0.0
5729     0.0
5730     4.0
5731     0.0
5732     1.0
5733     0.0
5734    16.0
5735     1.0
5736     0.0
5737    73.0
5738     0.0
5739     0.0
5740     0.0
5741     8.0
5742     0.0
5743     1.0
5744     0.0
5745     1.0
5746    10.0
Name: 3P, dtype: float64

In [4]:
csv

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5727,5727,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,NaN,3143.0,25.3,...,0.765,190.0,696.0,886.0,371.0,81.0,280.0,297.0,216.0,2034.0
5728,5728,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,NaN,1222.0,11.0,...,0.683,62.0,129.0,191.0,87.0,35.0,12.0,39.0,118.0,362.0
5729,5729,1980.0,Alvan Adams,C,25.0,PHO,75.0,NaN,2168.0,19.2,...,0.797,158.0,451.0,609.0,322.0,108.0,55.0,218.0,237.0,1118.0
5730,5730,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,80.0,2864.0,15.3,...,0.830,59.0,138.0,197.0,671.0,106.0,10.0,242.0,218.0,1131.0
5731,5731,1980.0,Dennis Awtrey,C,31.0,CHI,26.0,NaN,560.0,7.4,...,0.640,29.0,86.0,115.0,40.0,12.0,15.0,27.0,66.0,86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

As we can tell from the printed statements above, we were succesfully able to remove all the players who played before 1980. We can tell this because the years now start at 1980 and the NaN values are no longer present in the data frame column '3P'.